#
# parametros del entorno y del script
#

# Si hiciera falta, se puede añadir mysql al path:
#PATH=usr/bin/mysql:$PATH

# path de los logs (usar un path absoluto)
logs_path="/downloads/accem/unload/logs/"

# prefijo de los ficheros generados (salidas, logs, etc)
file_prefix="unload_gorrion_"

# Fichero con los datos de acceso y las credenciales (usar un path absoluto)
mysql_loginpath="/home/fabien/.mylogin.cnf"

# Nombre de la base de datos en MySQL
mysql_db="accem"

# Fichero con el script SQL (usar un path absoluto)
sql_file="/downloads/accem/unload/sql/unload_gorrion.sql"

# Directorio donde se extraen los datos (usar un path absoluto)
unload_dir="/downloads/accem/"

# Formato de fecha en el nombre de los ficheros de salida (mysql)
mysql_datefmt="%Y%m%d_%H%i%S"

# Formato de fecha en el nombre de los ficheros de salida (bash)
bash_datefmt="%Y%m%d_%H%M%S"

# Fichero con la ultima fecha extraida (usar un path absoluto)
lastdatefile="/downloads/accem/unload/scr/.lastdate"